<%- include partials/header.ejs %>


<div class="aboutme_banner banner">
    <div class="sub_banner">
        <p class="pricelist_banner_text">Über mich</p>
    </div>
</div>

<div class="aboutme_section ">
    <div class="seperator_icon seperator_about_left">
        <img class="icon icon_outro" src="/assets/light3.png" alt="">
    </div>
    <div class="container aboutme_text">


        <h2 class="headline">Willkommen bei Kerstins Kerzenlicht!</h2>
        <p class="text container_solo">
            Ich bin Kerstin, die, wenn du möchtest, schon bald als deine professionelle Kosmetikerin an deiner Seite mit
            Rat und Tat zur Seite steht.
            Bei mir kommt jeder Kunde auf seine Kosten, sei es eine kurze Handpflege, einem Körperwaxing oder einer
            längeren Massage, ich widme jedem
            Kunden und jede Behandlung meine volle Aufmerksamkeit.<br><br>
            Für mein Studio habe ich besonders Wert darauf gelegt, eine wohlige, gemütliche sowie entspannende
            Atmopshäre entstehen zu lassen, sodass sich meine
            Kunden wie Zuhause fühlen und diese sich um nichts sorgen müssen, während ich eine hoffentlich
            unvergessliche Behandlung an ihnen durchführe.<br><br>
            Genau so wichtig wie eine tadellose Behandlung meiner Kunden ist mir nämlich das Wohlbefinden meiner Kunden.
            Ich höre zu, gehe auf Wünsche ein und halte
            auch gerne mal einen Plausch, wenn meine Kunden gerade Redselig sind, weil ich in jedem meiner Kunden das
            Schöne in ihm sehe und noch mehr zum vorschein holen möchte.<br><br>
            Meine Speziallität ist das Waxing, wo viele meiner Kunden anmerken, dass ich das besonders Schmerzfrei
            erledige. Meine Jahrelange Erfahrung und das eingehen auf meine Kunden
            haben mich das gelehrt.

            Ich würde mich freuen, wenn du dir selber höchstpersönlich ansehen würdest, was ich dir alles anzubieten
            habe.
            Ich freu mich auf dich!<br><br>
            Deine Kerstin

        </p>

    </div>
    <div class="seperator_icon seperator_icon seperator_about_right">
        <img class="icon icon_aboutme" src="/assets/light3.png" alt="">
    </div>
</div>

<%- include partials/footer.ejs %>