<%- include partials/header.ejs %>


<section class="cd-hero js-cd-hero js-cd-autoplay">
	<ul class="cd-hero__slider">
		<li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
			<div class="cd-hero__content cd-hero__content--half-width" id="hero_content_left">
				<p class="advertisment">Machen wir dich bereit für den Sommer!</p>
				<p class="advertisment">Waxing bereits ab 29€!</p>
			</div>

			<div class="hero_content_right">
				<a href="/contact" class="cd-hero__btn">Termin</a>
				<a href="/pricelist" class="cd-hero__btn">Preisliste</a>
			</div>
		</li>

		<li class="cd-hero__slide js-cd-slide">
			<div class="cd-hero__content cd-hero__content--full-width cd-hero__content-top" >
				<p class="hero_text slide_text">Jeder Mensch besitzt eine ihm noch unbekannte <span
						class="hero_highlight slide_text">Schönheit</span> </p>
				<hr class="hr_seperator">
				<p class="hero_text hero_text_bot slide_text">Lass uns gemeinsam deine ans
					<span class="hero_highlight slide_text">Licht bringen</span></p>
				<a href="/aboutme" class="cd-hero__btn btn_first_slide">Meine Philosophie</a>
			</div> <!-- .cd-hero__content -->
		</li>

		<li class="cd-hero__slide js-cd-slide">
			<div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
				<img src="/assets/laugh_transparent.webp" alt="tech 2">
			</div> <!-- .cd-hero__content -->

			<div class="cd-hero__content cd-hero__content--half-width hero_content_three">
				<h2>Wohlfühl-Garantie</h2>
				<p>Jeder der mein Studio betritt wird es mit einem Lächeln verlassen. </p>
				<a href="/guestbook" class="cd-hero__btn">Zum Gästebuch</a>
				<!-- <a href="#0" class="cd-hero__btn cd-hero__btn--secondary">Learn More</a> -->
			</div> <!-- .cd-hero__content -->

		</li>

		<li class="cd-hero__slide cd-hero__slide--video js-cd-slide">
			<div class="cd-hero__content cd-hero__content--full-width hero_content_four" id="hero_content_video">
				<h2>Mit Leichtigkeit spazieren</h2>
				<p>Lass deinen Spaziergang am Strand unvergesslich werden, mit deinen seidenglatten Beinen.</p>
				<a href="/waxing" class="cd-hero__btn">Waxing</a>
			</div> <!-- .cd-hero__content -->

			<div class="cd-hero__content cd-hero__content--bg-video js-cd-bg-video" data-video="/assets/video/video">

			</div> <!-- .cd-hero__content -->
		</li>

		<li class="cd-hero__slide js-cd-slide">
			<div class="cd-hero__content cd-hero__content--half-width hero_content_five">
				<h2>Ein Schöner Rücken will auch entzücken</h2>
				<p>Verwöhne deinen Rücken mit einer Massage oder mach Ihn mit einem Waxing Badetauglich!</p>
				<a href="/pricelist" class="cd-hero__btn">Massage</a>
				<a href="/waxing" class="cd-hero__btn ">Waxing</a>
			</div> <!-- .cd-hero__content -->

			<div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
				<img id="img_back" src="/assets/maleback_cut.webp" alt="tech 1">
			</div> <!-- .cd-hero__content -->
		</li>
	</ul> <!-- .cd-hero__slider -->

	<div class="cd-hero__nav js-cd-nav">
		<nav>
			<span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>

			<ul>
				<li class="cd-selected"><a href="#0"></a></li>
				<li><a href="#0"></a></li>
				<li><a href="#0"></a></li>
				<li><a href="#0"></a></li>
				<li><a href="#0"></a></li>
			</ul>
		</nav>
	</div> <!-- .cd-hero__nav -->
</section> <!-- .cd-hero -->

<div class="intro">

	<div class="seperator_icon">
		<span class="icon_line line_top"></span>
		<img class="icon icon_outro" src="/assets/light3.png" alt="">
		<span class="icon_line line_bottom"></span>
	</div>
	<div class="container">

		<div class="wrapper wrapper_intro intro_temp">
			<div>
				<img class="img_main" id="img_me" src="/assets/princess.webp" alt="">
			</div>
			<p class="text">Meine Jahrelange Erfahrung ermöglicht es mir auf jeden Kunden individuell einzugehen,
				<br>seine Bedürfnisse zu erkennen,
				<br>damit eine Wundervolle Erfahrung bei mir entsteht.
				<br>
				<br>Sei es das Ziel zu entspannen,
				<br>sich schöner zu fühlen,
				<br>eine Schmerzfreie Haarentfernung oder alles zusammen,
				<br>mit voller Hingabe bin ich für meine Kunden da.</p>
		</div>
	</div>
	<div class="seperator_icon">
		<span class="icon_line line_top"></span>
		<img class="icon icon_outro" src="/assets/light3.png" alt="">
		<span class="icon_line line_bottom"></span>
	</div>

</div>







<div class="offer">
	<div class="container intro_temp">
		<h2 class="headline">Entdecke mein Angebot:</h2>
		<div class="offer_showcase">
			<div class="offer_one">
				<img class="img_main img_cosmetics_one" src="/assets/cosmetics1.webp" alt="">
				<div class="offer_text_container">
					<p class="cosmetics_text">Individuell auf dich
					<br>abgestimmte Produkte lassen
					<br>dich <span class="highlight">erstrahlen</span>.
				</p>
				</div> 
				<a class="button button_showcase" href="/shop">
					Kosmetik
				</a>
			</div>
			<div class="seperator_icon">
				<span class="icon_line line_top"></span>
				<img class="icon icon_outro" src="/assets/light3.png" alt="">
				<span class="icon_line line_bottom"></span>
			</div>
			<div class="offer_one">
				<img class="img_main img_cosmetics_one" src="/assets/waxing1.webp" alt="">
				<div class="offer_text_container">
				<p class="cosmetics_text">Meine jahrelange
					<br>Erfahrung für deine
					<br> <span class="highlight">Seidenglatte</span> Haut.
				</p> 
			   	</div>
				<a class="button button_showcase"
					href="/waxing">
					Waxing
				</a>
			</div>
			<div class="seperator_icon">
				<span class="icon_line line_top"></span>
				<img class="icon icon_outro" src="/assets/light3.png" alt="">
				<span class="icon_line line_bottom"></span>
			</div>
			<div class="offer_one">
				<img class="img_main img_cosmetics_one" src="/assets/massage1.webp" alt="">
				<div class="offer_text_container">
				<p class="cosmetics_text">Innere Ruhe und
					<br>Entspannung durch
					<br> <span class="highlight">wohltuende</span> Massagen.
				</p>
				</div>
				<a class="button button_showcase"
					href="/pricelist">
					Massagen
				</a>
			</div>
		</div>
	</div>
</div>
<div class="outro">
	<div class="container">
		<div class="outro_upperhalf">
			<div class="con_outro intro_temp">
				<p class="text">Mich und mein Studio kannst du finden in der Wunderschönen Oberpfalz in
					Pyrbaum. Meine Türen stehen für jeden offen. Jeder ist Willkommen, jeder verdient es sich schön zu
					fühlen. Lass dich von mir Überzeugen und mach einen Termin aus, du wirst es nicht bereuen!</p> <a
					class="button button_outro" href="/contact">
					Termin
				</a>
			</div>
		</div>
		<div class="testimonials">
			<div class="offer_one">
				<img class="img_main img_testimonial" src="/assets/user.png" alt="">
				<p class="testimonials_text">Claudia</p>
				<p class="quotation">"</p>
				<p class="text_quotation">Ich hatte eine unvergessliche Behandlung und werde aufjedenfall wieder kommen!</p>


			</div>


			<div class="seperator_icon">
				<span class="icon_line line_top"></span>
				<img class="icon icon_outro" src="/assets/light3.png" alt="">
				<span class="icon_line line_bottom"></span>
			</div>

			<div class="offer_one">
				<img class="img_main img_testimonial" src="/assets/petra.webp" alt="">
				<p class="testimonials_text">Petra</p>
				<p class="quotation">"</p>
				<p class="text_quotation">Solch eine Studio habe ich mir schon immer Gewünscht!</p>

			</div>


			<div class="seperator_icon">
				<span class="icon_line line_top line_responsive"></span>
				<img class="icon icon_outro" src="/assets/light3.png" alt="">
				<span class="icon_line line_bottom"></span>
			</div>

			<div class="offer_one">
				<img class="img_main img_testimonial" src="/assets/chris.webp" alt="">
				<p class="testimonials_text">Chris</p>
				<p class="quotation">"</p>
				<p class="text_quotation">Beste Behandlung die ich hatte! Aufjedenfall wieder!</p>

			</div>
		</div>
	</div>
</div>
<script src="js/main.js"></script> <!-- Resource JavaScrip -->
<%- include partials/footer.ejs %>