<%- include partials/header.ejs %>

<div class="banner login_banner">
    <div class="sub_banner">
        <p class="pricelist_banner_text">Anmelden</p>
    </div>
</div>

<div class="container">
<% if (hasErrors){ %>
    <div class="form_alert">
    
        <p><%= messages %></p>
    
    </div>
    <% } %>

<div class="login-page">
    <div class="form">
      <form class="register-form" action="/user/login" method="post">
        <input type="text" name="username" placeholder="Benutzername"/>
        <input type="password" name="password" placeholder="Passwort"/>
        <input type="text" placeholder="Email Adresse"/>
        <button class="button">create</button>
        <p class="message">Bereits registriert? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" action="/user/login" method="post">
        <input type="text" name="username" placeholder="Benutzername"/>
        <input type="password" name="password" placeholder="Passwort"/>
        <button button class="button">Anmelden</button>
        <p class="message">Noch nicht registriert? <a href="/user/register">Erstelle ein Konto</a></p>
      </form>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>