<%- include partials/header.ejs %>
          
          
        <div class="banner pricelist_banner">
            <p class="pricelist_banner_text">Preisliste</p>
        </div>

        <div class="pricelist_table">

          	


            <div class="seperator_icon seperator_pricelist">
                <img class="icon icon_outro" src="/assets/light3.png" alt="">
                <img class="icon icon_outro" src="/assets/light3.png" alt="">
                <img class="icon icon_outro" src="/assets/light3.png" alt="">
            </div>
                    
      
                
            

            <div class="container">
                <table>
                        <tr>
                          <th>Leistung<br>Waxing</th>
                          <th>Frauen<br>Wachs / Zucker</th> 
                          <th>Männer<br>Wachs / Zucker</th>
                        </tr>
                        <tr>
                          <td>Achseln</td>
                          <td>10 € / 15 €</td> 
                          <td>14 € / 20</td>
                        </tr>
                        <tr>
                          <td>Arme-Unterarme</td>
                          <td>18 € / 26 €</td> 
                          <td>22 € / 32 €</td>
                        </tr>
                        <tr>
                          <td>Arme Komplett</td>
                          <td>26 € / 34 €</td> 
                          <td>35 € / 43 €</td>
                        </tr>
                        <tr>
                          <td>Augenbrauen</td>
                          <td>12 € / 18 €</td> 
                          <td>15 € / 22 €</td>
                        </tr>
                        <tr>
                          <td>Beine Oberschenkel</td>
                          <td>23 € / 32 €</td> 
                          <td>30 € / 38€</td>
                        </tr>
                        <tr>
                          <td>Beine Unterschenkel</td>
                          <td>21 € / 29 €</td> 
                          <td>27 € / 39 €</td>
                        </tr>
                        <tr>
                          <td>Beine Komplett</td>
                          <td>40 € / 50 €</td> 
                          <td>53 € / 63 €</td>
                        </tr>
                        <tr>
                          <td>Bikini</td>
                          <td>13 € / 18 €</td> 
                          <td></td>
                        </tr>
                      </table>
                      <table>
                            <tr>
                              <th>Leistung<br>Kosmetik</th>
                              <th></th> 
                              <th>Preis</th>
                            </tr>
                            <tr>
                              <td>Kosmetikbehandlung kurz 35 min.</td>
                              <td></td> 
                              <td>38 €</td>
                            </tr>
                            <tr>
                              <td>Klassische Kosmetikbehandlung 60 min.</td>
                              <td></td> 
                              <td>62 €</td>
                            </tr>
                            <tr>
                              <td>Kosmetikbehandlung mit Edelsteinen</td>
                              <td></td> 
                              <td>72 €</td>
                            </tr>
                            <tr>
                              <td>Permament Make-Up incl. Beratung</td>
                              <td></td> 
                              <td>ab 100 €</td>
                            </tr>
                            
                          </table>
                          <table>
                                <tr>
                                  <th>Leistung<br>Massage</th>
                                  <th></th> 
                                  <th>Preis</th>
                                </tr>
                                <tr>
                                  <td>Rücken 30 min.</td>
                                  <td></td> 
                                  <td>32 €</td>
                                </tr>
                                <tr>
                                  <td>Ganzkörper 60 min.</td>
                                  <td></td> 
                                  <td>63 €</td>
                                </tr>
                                <tr>
                                  <td>Ganzkörper 90 min.</td>
                                  <td></td> 
                                  <td>93€</td>
                                </tr>
                                <tr>
                                  <td>Hot Stone Ganzkörper 60 min.</td>
                                  <td></td> 
                                  <td>80 €</td>
                                </tr>
                                <tr>
                                  <td>Hot Stone Ganzkörper 90 min.</td>
                                  <td></td> 
                                  <td>105 €</td>
                                </tr>
                                <tr>
                                  <td>Aromatherapie Ganzkörper 60 min.</td>
                                  <td></td> 
                                  <td>90</td>
                                </tr>
                                <tr>
                                  <td>Aromatherapie Ganzkörper 90 min.</td>
                                  <td></td> 
                                  <td>120 €</td>
                                </tr>
                              </table>
                              
                      </div>
                      <div class="seperator_icon seperator_pricelist">
                        <img class="icon icon_outro" src="/assets/light3.png" alt="">
                        <img class="icon icon_outro" src="/assets/light3.png" alt=""> 
                        <img class="icon icon_outro" src="/assets/light3.png" alt="">
                      </div>
                    </div>
                  
        
                    <%- include partials/footer.ejs %>
          
    
    
        
            

       