<%- include partials/header.ejs %>

<div class="banner user_banner">
    <div class="sub_banner">
        <p class="pricelist_banner_text">Hallo <%= currentUser.username %></p>
    </div>
</div>

<%- include partials/footer.ejs %>