<% include partials/header %>

<script>
  setTimeout(function(){
    window.location.href = '/shop';
  }, 5000);
  </script>

<div class="banner shop_banner">
    <p class="pricelist_banner_text">Shop</p>
</div>


<% include partials/footer %>