<%- include partials/header.ejs %>

<div class="banner waxing_banner">
    <p class="pricelist_banner_text">Angebot</p>
</div>

<div class="waxing_section intro_temp">
    <div Class="container">
        <h2 class="headline">Formen des Intimwaxings</h2>
        <div class="waxing_intro text">
            <div>
                <p>Die Beliebtesten Formen des Weiblichen Intimwaxings sind:</p>
                <ul class="waxing_list">
                    <div class="waxing_wrapper">
                        <img id="waxing_png" class="img_main img_cosmetics_one img_waxing"
                            src="./assets/american_stripe.png" alt="">
                        <div class="seperator_icon">
                            <span class="icon_line line_top"></span>
                            <img class="icon icon_outro" src="/assets/light3.png" alt="">
                            <span class="icon_line line_bottom"></span>
                        </div>
                        <img id="waxing_png" class="img_main img_cosmetics_one img_waxing"
                            src="./assets/american_tri.png" alt="">
                    </div>
                    <li><span class="highlight">American:</span> Ein großzügiger Streifen bzw. Dreieck bleibt erhalten.
                    </li>

                    <div class="waxing_wrapper">
                        <img id="waxing_png" class="img_main img_cosmetics_one img_waxing"
                            src="./assets/french_stripe.png" alt="">
                        <div class="seperator_icon">
                            <span class="icon_line line_top"></span>
                            <img class="icon icon_outro" src="/assets/light3.png" alt="">
                            <span class="icon_line line_bottom"></span>
                        </div>
                        <img id="waxing_png" class="img_main img_cosmetics_one img_waxing" src="./assets/french_tri.png"
                            alt="">
                    </div>
                    <li><span class="highlight">French:</span> Ein kleiner Streifen bzw Dreieck bleibt erhalten.</li>
                    <div class="brazilian">
                        <img id="waxing_png" class="img_main img_cosmetics_one img_waxing " src="./assets/brazilian.png"
                            alt="">
                    </div>
                    <li class="brazilian_desc"><span class="highlight">Brazilian:</span> Komplette entfernung der Harre
                        im Intimbereich</li>

                </ul>
                <p class="brazilian_text">Natürlich berate ich dich, solltest du dich nicht entscheiden können, welche
                    Variante des Waxings du
                    bevorzugen würdest.</p>
            </div>
        </div>
        <div class="text_head">
            <h2 class="headline">Vorbereitung & Nachbereitung deines Waxings</h2>
            <p class="text">Ein paar meiner Tipps, damit deine Behandlung so gut wie möglich Verläuft</p>
        </div>

        <div class="advice_text intro_temp">
            <div class="before_advice text">
                <p class="bold">Vorbereitung</p>
                <ul class="advice_list">
                    <li>Damit beim Waxing alle Haare optimal entfernt werden können, sollten diese eine Länge zwischen
                        0,5 und 1 cm haben,
                        oder einfacher zu merken: 2 Wochen wachsen lassen – zu lange Haare sollten dabei etwas gestutzt
                        werden.</li>
                    <li>24 Stunden vor der Haarentfernung auf alles verzichten, was Deine Haut belasten könnte: Sonne,
                        Solarium, Sauna, intensiver Sport.</li>
                    <li>Für den Tag der Behandlung empfehlen wir Dir einen lockeren Baumwollslip zu tragen, so dass die
                        Haut nicht unnötigen Stress abbekommt.</li>
                </ul>
            </div>

            <div class="before_advice text">
                <p class="bold">Nachbereitung</p>
                <ul class="advice_list">
                    <li>Gib Deiner Haut ausreichend Zeit sich zu erholen – und vermeide auch hier 24 Stunden lang Sonne,
                        Solarium und Co.</li>
                    <li>Bei einer Behandlung im Achsel oder Intimbereich vermeide eine direkte Anwendung von
                        alkoholhaltigen Deos für 24h.</li>
                    <li>2 Tage nach der Behandlung empfehlen wir ein regelmäßiges Peeling. So werden abgestorbene
                        Hautschüppchen entfernt und Du beugst dem Risiko eingewachsener Haare vor.</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="massage_section intro_temp">

        <h2 class="headline">Massage</h2>
        <div class="container">
            <p class="text container_solo text_space">In den letzten Jahren durfte ich verschiedene Massagetechniken lernen, welche ich dir hier kurz
                    vorstellen möchte:</p>
        </div>
        <div id="container_cosmetic">
            <div class="text">
                <div class="cosmetic_wrapper">
                    <img class="img_main img_cosmetics_one img_waxing" src="./assets/swedish.webp" alt="">
                    <div class="seperator_icon seperator_cosmetic">
                        <span class="icon_line line_top"></span>
                        <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                        <span class="icon_line line_bottom"></span>
                    </div>
                    <div class="cosmetic_text">
                            <h1 class="bold">Schwedische Massage</h1>
                            <p>Eine sanfte Ganzkörpermassage, ideal für Menschen die:
                            </p>
                            <ul class = "advice_list">
                                <li>Massageanfänger sind</li>
                                <li>Sehr verspannt sind</li>
                                <li>Sensibel gegenüber Berührungen sind</li>
                            </ul class = "advice_list">
                            <p>Muskelverspannungen können hierbei sehr gut gelöst werden. Ausserdem eine sehr gute Wahl wenn es dein
                                Ziel ist, zu entspannen
                                <br><br>
                                Für diese Massage wirst du deine Klamotten ablegen, bei Wunsch darf die Unterwäsche anbehalten
                                werden. Während du auf dem Massagetisch liegst wird ein
                                Tuch dich bedecken. Ich werde dann je nach bedarf und Körperstelle diese dann entfernen.
                            </p>
                            <p>Ich werde eine Kombination von aus folgenden Techniken benutzen:</p>
                            <ul class = "advice_list">
                                <li>Kneten</li>
                                <li>Lange, fließende Massagebewegungen in Richtung Herz</li>
                                <li>Tiefe kreißende Bewegungen</li>
                                <li>Vibrationen und Klopfen</li>
                                <li>Passive Bewegungen aus dem Handgelänk</li>
                            </ul>
                            <p>Üblicherweise dauert eine Massage etwa 60-90 Minuten</p>
                    </div>
                </div>
                <div class="cosmetic_wrapper_rev">
                    <img class="img_main img_cosmetics_one img_waxing" src="./assets/hot_stone.webp" alt="">
                    <div class="seperator_icon seperator_cosmetic">
                        <span class="icon_line line_top"></span>
                        <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                        <span class="icon_line line_bottom"></span>
                    </div>
                    <div class="cosmetic_text">
                            <h1 class="bold">Hot Stone Massage</h1>
                            <p>Die Hot Stone Massage ist besonder gut geeignet für Menschen, die unter Muskelschmerzen leiden oder
                                einfach nur entspannen möchten.
                                Diese Art der therapeutischen Behandlung ähnelt sehr der schwedischen Massage bis auf den
                                Unterschied, dass hier zusätzlich erhitzte Steine
                                zusätzlich zu meinen Händen zum Einsatz kommen. Diese bewirken:
                            </p>
                            <ul class = "advice_list">
                                <li>
                                    Eine entspannen der Muskeln
                                </li>
                                <li>
                                    Verbesserung der Blutzirkulation
                                </li>
                                <li>
                                    Schmerzlinderung
                                </li>
                                <li>
                                    Entspannung
                                </li>
                                <li>
                                    Stress reduzierung
                                </li>
                                <p>Während der Massage währemd erhitzte Steine auf verschiedene Stellen deines Körpers platziert.
                                    Eine Hot Stone Massage
                                    wird unbekleidet vollführt, es sei denn natürlich du fühlst dich mit Wäsche wohler. Eine
                                    typische Massage dauert hier in der Regel 90 min.
                                </p>
                            </ul>
                    </div>
                </div>
                <div class="cosmetic_wrapper">
                    <img class="img_main img_cosmetics_one img_waxing" src="./assets/oil.webp" alt="">
                    <div class="seperator_icon seperator_cosmetic">
                            <span class="icon_line line_top"></span>
                            <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                            <span class="icon_line line_bottom"></span>
                        </div>
                    <div class="cosmetic_text">
                            <h1 class="bold">Aromatherapie Massage</h1>
                            <p>
                                Aromatherapie Massagen eignen sich besonders gut für die, welche eine Emotional heilende Komponente
                                haben möchten. Effekte einer solchen Massage sind:
                            </p>
                            <ul class = "advice_list">
                                <li>
                                    Besserung der Stimmung
                                </li>
                                <li>
                                    Stress und Angst linderung
                                </li>
                                <li>
                                    Reduzierung von Symptomen ausgelöst durch Depressionen
                                </li>
                                <li>
                                    Lösen von Muskelverspannungen
                                </li>
                                <li>
                                    Schmerzlinderung
                                </li>
                            </ul>
                            <p>
                                Bei Aromatherapie Massagen wird sanfter Druck ausgeübt zusammen mit dem Einsatz von essentiellen
                                Ölen. Ich werde nach einem Beratungsgespräch
                                die am besten geeigneten Öle für dich und deine Behandlung aussuchen, es sei den du hast bereits
                                Favorisierte Öle.<br><br>
                                Du erhälst eine Ganzkörpermassage, während du durch einen Diffusor und deiner Haut die belebenden
                                Öle aufnimmst. Auch hier kann bei bedarf Unterwäsche anbehalten werden,
                                wobei normalerweise hier ohne Klamotten massiert wird. Eine Massage dauert etwa 60 bis 90 Minuten.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="cosmetic_section intro_temp">

    <h2 class="headline">Kosmetik</h2>
    <div class="container">
        <p class="text  text_space">Mein Angebot aus der Kosmetik für dich kannst du hier sehen:</p>
    </div>
    <div id="container_cosmetic">
        <div class="text">
            <div class="cosmetic_wrapper">
                <img class="img_main img_cosmetics_one img_waxing" src="./assets/cosmetic_face.webp" alt="">
                <div class="seperator_icon seperator_cosmetic">
                    <span class="icon_line line_top"></span>
                    <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                    <span class="icon_line line_bottom"></span>
                </div>
                <div class="cosmetic_text">
                    <p class="bold">Gesichtspflege</p>
                    <p>
                        Ein schöne haut muss gepflegt werden, vorallem im Gesicht.<br>
                        Hierfür benutze ich ausschließlich Biokosmetik-Produkte von Nahmhaften Herstellern.
                        Diese lösen keine negativern Reaktionen auf und in der Haut aus, sondern Schützen und
                        Regenerieren. Für jeden Hauttyp und jeder Hautsituation sind andere Produkte nötig,
                        welche ich individuell auf meine Kunden abstimme.
                    </p>
                </div>
            </div>
            <div class="cosmetic_wrapper_rev">
                <img class="img_main img_cosmetics_one img_waxing" src="./assets/cosmetic_eye.webp" alt="">
                <div class="seperator_icon seperator_cosmetic">
                    <span class="icon_line line_top"></span>
                    <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                    <span class="icon_line line_bottom"></span>
                </div>
                <div class="cosmetic_text">
                    <p class="bold">Wimpernverlängerung</p>
                    <p>
                        Die
                        dauerhafte Wimpernverlängerung zeichnet sich dadurch aus, dass jede einzelne Wimper für sich
                        allein
                        durch
                        synthetische Wimpern mithilfe eines speziellen Klebers auf die eigenen Naturwimpern appliziert
                        werden
                        und
                        die synthetischen Wimpern bis zum natürlichen Wechsel der eigenen Wimpern haltbar sind.

                        Der natürliche Wimpernkranz erneuert sich regelmäßig und deshalb sind alle 2-4 Wochen
                        Auffülltermine
                        notwendig, um die perfekte Länge und Dichte erhalten bleibt.

                        Bei diesem Termin entfernt man die zu lang gewachsenen Wimpernextensions und auf die neu bzw.
                        nachgewachsenen Wimpern werden neue Extensions appliziert. Diese Vorgehensweise sorgt dafür,
                        dass Sie
                        somit
                        dauerhaft lange und dichte Wimpern tragen können, ohne das dabei die Naturwimpern geschädigt
                        werden.</p>
                </div>
            </div>
            <div class="cosmetic_wrapper">
                <img class="img_main img_cosmetics_one img_waxing" src="./assets/cosmetic_eyebrow.webp" alt="">
                <div class="seperator_icon seperator_cosmetic">
                    <span class="icon_line line_top"></span>
                    <img class="icon icon_outro icon_cosmetic" src="/assets/light3.png" alt="">
                    <span class="icon_line line_bottom"></span>
                </div>
                <div class="cosmetic_text">
                    <p class="bold">Permament Make-up</p>
                    <p>Das Permanent Make-up zeichnet sich hauptsächlich durch Eigenschaften wie die dauerhafte
                        Zeichnung/Pigmentierung von Augenbrauen,

                        Lidstrich und Lippen. Mit hauchdünnen, sterilen Nadeln werden

                        die auf Haut und Haarton abgestimmte Farbpigmente in die

                        oberste Hautschicht eingebracht. Wir verwenden hochwertigste,

                        reinheitszertifizierte Farben mit hoher Farbpigmentdichte

                        aus deutscher Herkunft. Permanent Make-up hält in der Regel

                        zwischen 2-4 Jahre. Das Make-up, das nicht verwischt und ihnen

                        dauerhaft ein frisches Aussehen verleiht. Morgens, abends, beim Sport, in der Sauna, im Urlaub
                        und bei
                        vielen anderen Gelegenheiten…
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include partials/footer.ejs %>